@model Movimentacao
@{
    ViewBag.Title = "Recebimento";
}

<h2>Nova conta a receber</h2>

@using (Html.BeginForm("CadastrarRecebimento", "Recebimentos", FormMethod.Post, new { @id = "frm_cadastroRecebimentos" }))
{
    @Html.AntiForgeryToken()


    <style>
        table {
            width: 400px;
        }

        td {
            width: 50%;
            text-align: left;
        }
    </style>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label><strong>Número de parcelas:</strong></label>
                    </div>
                </td>
                <td>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.NumeroParcelas, (SelectList)ViewBag.ListaParcelas, "Selecionar", new { @id = "dropDownParcelas", @class = "col-md-10 form-control", @required = "true" })

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label><strong>Valor da Parcela:</strong></label>
                </td>
                <td>
                    <div id="div_ValorParcela" class="col-md-10">

                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Iniciar recebimento" class="btn btn-default" id="btn_gravarRecebimento" />
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $('#btn_gravarRecebimento').click(function () {
            if ($('#dropDownParcelas').val() == "Selecionar") {
                alert('Selecione o número de parcelas!');
            }
            else {
                $('#frm_cadastroRecebimentos').submit();
            }
        });
        $('#dropDownParcelas').change(function () {

            var dropDownParcelas = $('#dropDownParcelas');
            var div = $('#div_ValorParcela');
            div.html("");
            if (dropDownParcelas.val() != "") {
                var valorPagamento = @Html.Raw(ViewBag.Conta.ValorConta.ToString().Replace(",", "."));
                var numParcelas = dropDownParcelas.val();
                var parcela = (valorPagamento/numParcelas).toFixed(2);
                var exibir = "R$ " + parcela.toString().replace(".",",");
                div.html(exibir).show();
            }
        });
    </script>
}
@Html.ActionLink("Voltar ao início", "Index", new { @controller = "Contas" })