@{
    ViewBag.Title = "Contas Finalizadas";
}

        <style>
            .form-group{margin-top:100px !important;}body{margin-left:50px;}table{margin-top:50px !important;width:80% !important;}.total-extrato{width:100%;}th{width:20%;}td{width:20%;}.div-extratos{margin-bottom:65px;margin-top:65px;}</style>
    
<h3>Contas finalizadas</h3>

    
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Credor/Devedor
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Data de fechamento
                </th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Contas != null)
            {
                foreach (var item in ViewBag.Contas)
                {
                    <tr>
                        <td>
                            @item.CredorOuDevedor
                        </td>
                        <td>
                            @item.Descricao
                        </td>
                        <td>
                            @item.ValorConta.ToString("R$ 0.00")
                        </td>
                        <td>
                            @item.TipoOperacao
                        </td>
                        <td>
                            @item.DataFinalizacao.ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
        

   <div class="form-group">
            @Html.ActionLink("Voltar ao Início", "Index", "Contas")
    </div>