<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de Contas a Pagar e Receber</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        @if (User.Identity.IsAuthenticated) 
        {
            <div class="navbar-header">
                <a href="~/Relatorios/Index" class="navbar-brand">Início</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contas <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes" role="menu">
                            <li><a href="~/Contas/CadastrarConta">Cadastro</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pendências<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes" role="menu">
                            <li><a href="~/Pendencias/SemTratativa">Em aberto</a></li>
                            <li><a href="~/Pendencias/EmAndamento">Em andamento</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Contas">Relatórios <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes" role="menu">
                            <li><a href="~/Relatorios/ContasFinalizadas">Lista de contas finalizadas</a></li>
                            <li><a href="~/Relatorios/Extrato/1">Extrato (7 dias)</a></li>
                            <li><a href="~/Relatorios/Extrato/2">Extrato (15 dias)</a></li>
                            <li><a href="~/Relatorios/Extrato/3">Extrato (30 dias)</a></li>
                            <li><a href="~/Relatorios/Extrato/4">Extrato (completo)</a></li>
                        </ul>
                    </li>   
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="themes" role="menu">
                            <li><a href="~/Acesso/Logout">Sair</a></li>
                        </ul>
                    </li>
                </ul>
</div>
            
        }
        else
        {
            <div class="navbar-header">
                <a href="~/Acesso/Login" class="navbar-brand">Acesso</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="margin-bottom:50px;">
            <p>&copy; @DateTime.Now.Year - Sistema de Contas a Pagar e Receber</p>
        </footer>    
    </div>
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    

</body>
</html>
