<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de Contas a Pagar e Receber</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        @if (User.Identity.IsAuthenticated) 
        {
            <div class="navbar-header">
                @Html.ActionLink(" ", "Index", new { @controller = "Relatorios" }, new { @class = "glyphicon glyphicon-home navbar-brand" })


                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="MenuContas">Contas <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes" role="menu">
                            <li><a href="~/Contas/CadastrarConta" id="CadastrarConta">Nova conta</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="MenuPendencias">Pendências<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes" role="menu">
                            <li><a href="~/Pendencias/SemTratativa" id="EmAberto">Em aberto</a></li>
                            <li><a href="~/Pendencias/EmAndamento" id="EmAndamento">Em andamento</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="MenuRelatorios">Relatórios <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes" role="menu">
<<<<<<< HEAD
                            <li><a href="~/Relatorios/ContasFinalizadas" id="ContasFinalizadas">Lista de contas finalizadas</a></li>
=======
                            <li><a href="~/Relatorios/ContasFinalizadas">Lista de contas finalizadas</a></li>
>>>>>>> 5e4e4453edd660e948bbb5fdac76b6e0fb56c9f2
                            <li><a href="~/Relatorios/Extrato/1" id="extrato7Dias">Extrato (7 dias)</a></li>
                            <li><a href="~/Relatorios/Extrato/2" id="extrato15Dias">Extrato (15 dias)</a></li>
                            <li><a href="~/Relatorios/Extrato/3" id="extrato30Dias">Extrato (30 dias)</a></li>
                            <li><a href="~/Relatorios/Extrato/4" id="extratoCompleto">Extrato (completo)</a></li>
                        </ul>
                    </li>   
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Opcoes">
                            <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="themes" role="menu" >
                            <li><a href="~/Acesso/Logout" id="Sair">Sair</a></li>
                        </ul>
                    </li>
                </ul>
</div>
            
        }
        else
        {
            <div class="navbar-header">
                <a href="~/Acesso/Login" class="navbar-brand">Acesso</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="margin-bottom:50px;">
            <p>&copy; @DateTime.Now.Year - Sistema de Contas a Pagar e Receber</p>
        </footer>    
    </div>
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    

</body>
</html>
