<html>
<head>
    <title>Login</title>
    <link href="~/Content/Login.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
